# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# VSCode
.vscode/

# Variables
.env

# Django
db.sqlite3
media/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Build
build/
dist/